// Print media

@media print {
  @page
  {
    size: auto;   /* auto is the current printer page size */
    margin: 5mm;  /* this affects the margin in the printer settings */
  }

  body {
    background: rgb(204, 204, 204);
    margin: 0;
    margin: 0;
    box-shadow: 0;
    padding: 0;
  }
}


// Print-preview page

.print-wrapper {
  background: rgb(204,204,204);

  page[size="A4"] {
    background: white;
    width: 210mm;
    height: 297mm;
    display: block;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    font-size: 12pt;
    padding: 5mm;

    margin-right: 30px;
    float: right;

    @media print {
      margin: 0;
      box-shadow: 0;
      padding: 0;
      float: none;
    }
  }

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

article.print-settings-form {
  height: 200px;
  width: 400px;
  position: fixed;
  top: 30px;
  left: 30px;
  background: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #CCC;

  @media print {
    display: none;
  }
}

