article.invoice-details-card {
  line-height: 1.5;

  fieldset {
    .field {
      margin-bottom: 2px;

      &:after {
        clear: both;
        content: " ";
        display: block;
      }
    }

    label {
      float: left;
      width: 30%;
      font-weight: 600;
    }

    div.value {
      float: left;
      width: 70%;
    }
  }

  table.invoice-line-items {
    td {
      text-align: right;
      line-height: @base-line-big;
      min-width: 110px;

      > input {
        text-align: right;
      }
    }

    td[class$='name'] {
      text-align: left;
      min-width: 350px;

      > input {
        text-align: left;
      }
    }

    td[class$='actions'] {
      width: 40px;
      text-align: left;
    }

    > tfoot td {
      color: @color-body;
      text-align: right;
    }

    a.autoform-remove-item,
    a.autoform-add-item {
      font-size: 30px;
    }
  }
}
