ul.list-single-lines {
  li {
    // text elippsis
    white-space: nowrap;
    text-overflow: ellipsis;

    // deco
    list-style-type: none;

    > a {
      height: 45px;
      padding: 12px 0 0 0;
      margin: 0 10px;
      display: block;

      border-bottom: 1px solid #d4d4d4;
      box-shadow: 0px 1px 0px #ebecee;

      text-decoration: none;
      color: inherit;

      &:hover, &:focus, &:active {
        color: inherit;
        cursor: default;
      }
    }
  }
}

ul.list-multiple-lines {
  li {
    // deco
    list-style-type: none;
    margin: 0 0 0 15px;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0px 1px 0px #ffffff;

    div {
      min-height: 65px;
      display: block;
      color: inherit;
      padding: 13px 0;

      &:hover, &:focus, &:active {
        color: inherit;
        cursor: default;
      }
    }

    &.selected {
      background-color: #d8eefa;
      color: #333;
      margin-top: -1px;
      margin-left: 0;
      box-shadow: none;
      border-top: 1px solid #b6def5;
      border-bottom: 1px solid #b6def5;

      div {
        padding: 13px 0 13px 15px;
      }
    }
  }
}
