<template name="appLayout">

  <section class="app-wrapper">

      <div id="LeftCol">
        <section id="AppName">
          HoaDonBC
        </section>
        <ul class="list-single-lines">
          <li class="{{ isActiveRoute regex='invoices' }}"><a href="{{ pathFor 'invoices' }}">{{_ "Invoices" }}</a></li>
          <li><a href="#" disabled>{{_ "Customers" }}</a></li>
          <li><a href="#" disabled>{{_ "Inventory" }}</a></li>
          <li><a href="#" disabled>{{_ "Reports" }}</a></li>
        </ul>
        <section id="SettingsBar">
          <nav>
            <a class="settingsMenu">
              <i class="fa fa-cog"></i>
            </a>

            <menu class="menu-pull-up {{ settingsMenuStatus }}">
              <a href="">{{_ "Settings..." }}</a>
              <div class="division"></div>
              <a class="logout">{{_ "Logout" }}</a>
            </menu>

            {{#if addNewUrl }}
              <a class="right" href="{{ addNewUrl }}"><i class="fa fa-plus"></i></a>
            {{/if}}
          </nav>
        </section>
      </div>

      <div id="MidCol">
        <section id="SearchBar">
          <i class="fa fa-search"></i>
          <input type="search" placeholder="{{_ 'Search'}}"/>
        </section>
        <section id="TheList">
          {{> yield "TheList" }}
        </section>
      </div>

      <div id="RightCol">

        <section id="TheContent">
          {{> yield }}
        </section>

      </div>
  </section>

  {{flash 'top'}}

</template>