<template name="login">

  <main class="login">

    <div class="form-card">
      <form id="LoginForm">
        {{#if errorMessages}}
          <ul class="list-errors">
            {{#each errorMessages}}
              <li class="list-item">{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}

        <div class="{{errorClass 'email'}}">
          <input type="email" name="email" placeholder="{{_ 'email'}}" />
          <span class="icon-email" title="Your Email"></span>
        </div>

        <div class="{{errorClass 'password'}}">
          <input type="password" name="password" placeholder="{{_ 'password'}}" />
          <span class="icon-lock" title="Password"></span>
        </div>

        <button class="btn btn-positive btn-block">{{_ 'login'}}</button>
      </form>
    </div>

  </main>
</template>
