<template name="invoiceList">

  {{#contentFor "modals"}}
    <a href="{{pathFor 'invoice.new' }}" data-nav-direction="right">New invoice</a>
  {{/contentFor}}

  {{#contentFor "TheList"}}
  <ul class="list-multiple-lines">
    {{#each invoices}}
      <li class="{{ isInvoiceSelected }}" data-item-id="{{ _id }}">
        <article class="invoice-summary-card">
          <div class="invoice-total-after-GST">{{ total.plusGST }}d</div>
          <div class="invoice-customer-name">{{ customer.name }}</div>
          <div class="invoice-number">#{{ invoiceNumber }}</div>
          <div class="invoice-company-name">{{ customer.company }}</div>
        </article>
      </li>
    {{/each}}
  </ul>
  {{/contentFor}}

  {{#contentFor "TopBar"}}
    <a href="#" class="update">Update</a>
  {{/contentFor}}

  {{#contentFor "BottomBar"}}
    <a href="#" class="cancel">Cancel</a>
  {{/contentFor}}

  <article id="InvoiceShow" class="invoice-details-card">
    {{#with theSelectedInvoice}}

      <div class="invoice-generic-info">
        <div class="invoice-number">{{_ "#"}}{{ invoiceNumber }}</div>
        <div class="invoice-date">15/10/2015</div>
      </div>

      <div class="invoice-customer-info">
        <div class="invoice-customer-name">{{ customer.name }}</div>
        <div class="invoice-customer-company">{{ customer.company }}</div>
        <div class="invoice-customer-tax-number">{{ customer.taxNumber }}</div>
        <div class="invoice-customer-address">{{ customer.address }}</div>
      </div>

      <table class="invoice-line-items">
        <tr class="order-item">
          <td class="description">The product name goes here #1</td>
          <td>10</td>
          <td>100,000d</td>
          <td>1,000,000d</td>
        </tr>
        <tr class="order-item">
          <td class="description">The product name goes here #1</td>
          <td>10</td>
          <td>100,000d</td>
          <td>1,000,000d</td>
        </tr>
        <tr class="order-item">
          <td class="description">The product name goes here #1</td>
          <td>10</td>
          <td>100,000d</td>
          <td>1,000,000d</td>
        </tr>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td><label>Subtotal</label></td>
            <td>3,000,000d</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><label>GST</label></td>
            <td>300,000d</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><label>Total</label></td>
            <td>3,300,000d</td>
          </tr>
        </tfoot>
      </table>
    {{/with}}
  </article>

  <div id="InvoiceUpdate" style="display:none">
    {{> quickForm collection="Invoices" doc=theSelectedInvoice id="invoiceUpdateForm" type="update"}}
  </div>

</template>
