<template name="invoiceList">
  <!--<a href="{{pathFor 'invoice.new' }}" data-nav-direction="right">New invoice</a>-->

  {{#contentFor "TopBar"}}
  <nav>
    {{#unless isUpdatingInvoice}}
    <a href="#" class="update">Update</a>
    {{else}}
    <a href="#" class="cancel">Cancel</a>
    {{/unless}}
  </nav>
  {{/contentFor}}

  {{#contentFor "TheList"}}
  <ul class="list-multiple-lines">
    {{#each invoices}}
    <li class="{{ isInvoiceSelected }}" data-item-id="{{ _id }}">
      <article class="invoice-summary-card">
        <div class="invoice-total-after-GST">{{ total.plusGST }}d</div>
        <div class="invoice-customer-name">{{ customer.name }}</div>
        <div class="invoice-number">#{{ invoiceNumber }}</div>
        <div class="invoice-company-name">{{ customer.company }}</div>
      </article>
    </li>
    {{/each}}
  </ul>
  {{/contentFor}}

  {{#if isUpdatingInvoice }}
    <article id="InvoiceUpdate" class="invoice-details-card">
      {{> invoiceUpdate theInvoiceToUpdate=theSelectedInvoice}}
    </article>
  {{else}}
    <article id="InvoiceShow" class="invoice-details-card">
      {{#with theSelectedInvoice}}

      <fieldset>
          <div class="field">
            <label>{{_ 'Invoice Number'}}</label>
            <div class="value">{{_ "#"}}{{ invoiceNumber }}</div>
          </div>
          <div class="field">
            <label>{{_ 'Invoice Date'}}</label>
            <div class="value">15/10/2015</div>
          </div>
      </fieldset>

      <fieldset>
        <div class="field">
          <label>{{_ 'Customer Name'}}</label>
          <div class="value">{{ customer.name }}</div>
        </div>
        <div class="field">
          <label>{{_ 'Customer Company'}}</label>
          <div class="value">{{ customer.company }}</div>
        </div>
        <div class="field">
          <label>{{_ 'Customer Tax No.'}}</label>
          <div class="value">{{ customer.taxNumber }}</div>
        </div>
        <div class="field">
          <label>{{_ 'Customer Address'}}</label>
          <div class="value">{{ customer.address }}</div>
        </div>
      </fieldset>

      <fieldset>
          <table class="invoice-line-items">

            <thead>
              <tr>
                <td>{{_ 'Name'}}</td>
                <td>{{_ 'Unit Price'}}</td>
                <td>{{_ 'Quantity'}}</td>
                <td>{{_ 'Total Price'}}</td>
                <td></td>
              </tr>
            </thead>

            {{#each orderedItems}}
            <tr>
              <td>{{ this.name }}</td>
              <td>{{ this.unitPrice }}</td>
              <td>{{ this.quantity }}</td>
              <td>{{ this.totalPrice }}</td>
              <td></td>
            </tr>
            {{/each}}

            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td><strong>Subtotal</strong></td>
                <td>3,000,000d</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><strong>GST</strong></td>
                <td>300,000d</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td>3,300,000d</td>
                <td></td>
              </tr>
            </tfoot>
          </table>

      </fieldset>
      {{/with}}
    </article>
  {{/if}}
</template>
