<template name="invoices">

  {{#contentFor "SettingsBar"}}
    <nav>
      <a href="" class="insert"><i class="fa fa-plus"></i></a>
    </nav>
  {{/contentFor}}

  {{#contentFor "TopBar"}}
  <nav>
    <a href="" class="update">Update</a>
  </nav>
  {{/contentFor}}

  {{#contentFor "TheList"}}
  <ul class="list-multiple-lines">
    {{#each listItems}}
    <li class="{{ isThisInvoiceSelected }}" data-item-id="{{ _id }}">
      <article class="invoice-summary-card">
        <div class="invoice-total-after-GST">{{ total.afterGST }}d</div>
        <div class="invoice-customer-name">{{ customer.name }}</div>
        <div class="invoice-number">#{{ invoiceNumber }}</div>
        <div class="invoice-company-name">{{ customer.company }}</div>
      </article>
    </li>
    {{/each}}
  </ul>
  {{/contentFor}}

  {{ whatTemplate }}

  {{ > Template.dynamic template=whatTemplate }}

  <p>Invoices</p>
</template>