<template name="appLayout">

  <row class="app-wrapper">
      <column id="LeftCol" cols="2">
        <section id="AppName">
          HoaDonBC
        </section>
        <ul class="list-single-lines">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}">{{_ "Dashboard"}}</a></li>
          <li class="{{ isActiveRoute regex='company.list' }}"><a href="{{ pathFor 'company.list' }}">{{_ "Companies" }}</a></li>
          <li class="{{ isActiveRoute regex='invoice.list' }}"><a href="{{ pathFor 'invoice.list' }}">{{_ "Invoices" }}</a></li>
        </ul>
        <section id="SettingsBar"></section>
      </column>
      <column id="MidCol" cols="4">
        <section id="SearchBar">
          <i class="fa fa-search"></i>
          <input type="search" placeholder="{{_ 'Search'}}"/>
        </section>
        <section id="TheList">
          {{> yield "TheList" }}
        </section>
      </column>
      <column id="RightCol" cols="6">
        {{> topBar }}
        <section id="TheContent">
          {{> yield }}
        </section>
        {{> bottomBar }}
      </column>
  </row>

  {{flash 'top'}}

</template>

<template name="topBar">
  <section id="TopBar">{{> yield "TopBar"}}</section>
</template>

<template name="bottomBar">
  <section id="BottomBar">{{> yield "BottomBar"}}</section>
</template>
