<template name="appLayout">

  <section class="app-wrapper">

      <div id="LeftCol">
        <section id="AppName">
          HoaDonBC
        </section>
        <ul class="list-single-lines">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}">{{_ "Dashboard"}}</a></li>
          <li class="{{ isActiveRoute regex='companies' }}"><a href="{{ pathFor 'companies' }}">{{_ "Companies" }}</a></li>
          <li class="{{ isActiveRoute regex='invoices' }}"><a href="{{ pathFor 'invoices' }}">{{_ "Invoices" }}</a></li>
        </ul>
        <section id="SettingsBar">
          {{> yield "SettingsBar"}}
        </section>
      </div>

      <div id="MidCol">
        <section id="SearchBar">
          <i class="fa fa-search"></i>
          <input type="search" placeholder="{{_ 'Search'}}"/>
        </section>
        <section id="TheList">
          {{> yield "TheList" }}
        </section>
      </div>

      <div id="RightCol">

        <section id="TheContent">
          {{> yield }}
        </section>

      </div>
  </section>

  {{flash 'top'}}

</template>