<template name="afArrayField_tableRow">
  {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
  <tr class="line-item">
    {{#each afFieldNames name=this.name}}
      <td class="{{ name }} value {{#if afFieldIsInvalid name=name}}has-error{{/if}}">
        {{> afFieldInput name=name}}
        {{#if afFieldIsInvalid name=name}}
          <span class="error">
            <i class="fa fa-exclamation-triangle"></i>
            <span class="error-text">{{{afFieldMessage name=name}}}</span>
          </span>
        {{/if}}
      </td>
    {{/each}}

    {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
    <td class="orderedItem.{{ index }}.actions">
      <a class="autoform-remove-item">
        <i class="fa fa-minus-circle "></i>
      </a>
    </td>
    {{/if}}
  </tr>
  {{/afEachArrayItem}}
  <tr>
    <td class="add-line-item">
      {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <a class="autoform-add-item" data-autoform-field="{{this.atts.name}}"
          data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}">
          {{_ "Add item"}}
        </a>
      {{/if}}
    </td>
  </tr>
</template>
