article.right-col-form {
  line-height: 1.5;

  input[type="date"] {
    height: 27px;
  }

  fieldset {
    .field {
      margin-bottom: 2px;

      &:after {
        clear: both;
        content: " ";
        display: block;
      }
    }

    label {
      float: left;
      width: 200px;
      font-weight: 600;
      padding-right: 20px;
      color: grey;
      font-size: 90%;
      line-height: 1.75;
      margin-left: 40px;
    }

    div.value {
      float: left;
      width: 559px;

      > span {
        display: block;
        border: 1px solid white;
        padding: @padding-input;
      }
    }
  }
}