<template name="login">

  <article class="central-form">
      <form id="LoginForm" class="forms">
        {{#if errorMessages}}
          {{#each errorMessages}}
            <div class="alert alert-error">{{this}}</div>
          {{/each}}
        {{/if}}

        <section>
          <label>Email</label>
          <input type="email" name="email" placeholder="{{_ 'Email'}}" />
        </section>

        <section>
          <label>Password</label>
          <input type="password" name="password" placeholder="{{_ 'Password'}}" />
        </section>

        <button type="primary" outline>{{_ 'Login'}}</button>
      </form>
  </article>

</template>
