<template name="login">

  <article class="login-form">
      <form id="LoginForm">
        {{#if errorMessages}}
          <ul class="list-errors">
            {{#each errorMessages}}
              <li class="list-item">{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}

        <div class="{{errorClass 'email'}}">
          <input type="email" name="email" placeholder="{{_ 'email'}}" />
        </div>

        <div class="{{errorClass 'password'}}">
          <input type="password" name="password" placeholder="{{_ 'password'}}" />
        </div>

        <button class="btn btn-positive btn-block">{{_ 'login'}}</button>
      </form>
  </article>

</template>
